name: Deploy Worker
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Replace ID in wrangler.jsonc
        run: |
          sed -i "s|\${env.CLOUDFLARE_API_TOKEN }|${{ secrets.CLOUDFLARE_API_TOKEN  }}|g" wrangler.jsonc

      - name: Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.67.0"
